/* NOW PLAYING STYLING START */

body {
  margin: 0px;
}

#nowPlayingContainer {
    display: flex;
    flex-direction: column;
    /* gap: 41px; */
    background-color: #d4cbbf;
    padding-top: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 30px 40px rgba(0,0,0,.1)
}

.audioContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 10px; */
    font-family: 'Segoe UI', 'monospace';
    font-size: 16px;
    color: #333;
}

.audioInfo {
  display: flex;
    flex-direction: column;
    width: 350px;
    padding-left: 55px;
}

.artistName {
  margin: 0px;
}

.concertDetails {
  display: flex;
  justify-content: space-between;
}

.concertDetails p {
  margin: 0;
}
  
audio {
    width: 600px;
}

audio::-webkit-media-controls-enclosure {
  background-color: #d4cbbf;
}

audio::-webkit-media-controls-panel {
  padding: 0px;
}



@media screen and (max-width: 415px) {
  audio {
    width: 350px;
  }

  .audioInfo {
    padding-left: 0px;
    width: 300px;
  }

  .artistName {
    margin-bottom: 5px;
  }
}

/* NOW PLAYING STYLING END */



/* SEARCH by YEAR or ARTIST NAME STYLING START */

/* #browseContainer {
    display: flex;
    flex-direction: column;
  }

  #letterContainer  {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
} */

/* SEARCH by YEAR or ARTIST NAME STYLING END */



/* 
audio::-webkit-media-controls-panel {
    background-color: rgb(7, 52, 107);
  } */

  /* audio::-webkit-media-controls-current-time-display {
    color: whitesmoke;
  }

audio::-webkit-media-controls-time-remaining-display {
    color: whitesmoke;
} */



/* HAMBURGER STYLING START */

a {
  color: #fff;
  text-decoration: none;
}

.p-menu1{
   height: 100%;
   position: sticky;
    top: 128px;
}




/* Hamburger */
.hamburger1 {
  height: 45px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  /* justify-items: center; */
  z-index: 120;
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 320px;
}


/* Menu */
.menu1 {
  width: 100%;
  background-color: #02173F;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 40px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 20px 'Segoe UI', monospace;
  /* font-family: 'Segoe UI', monospace; */
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.browseByText {
  width: 100%;
  margin: 15px 0 0 0;
  font: 700 20px 'Segoe UI', monospace;
  /* font-family: 'Segoe UI', monospace; */
  color: #fff;
  text-decoration: none;
}



/* HAMBURGER STYLING END */